.realtyViewCarousel{
  position: relative;
  img{
    width: 100%;
  }
}

.owlRealtyPager{
  img{
    width: 100%;
  }
}

.viewPara{
  font-size: 22px;
  color: $renk2;
}

.viewCategory{
  font-size: 14px;
  text-align: right;
  margin-bottom: 15px;
}