/*RENK1*/
/*RENK1 KOYU*/
/*RENK1 ACIK*/
/*RENK1*/
/*RENK1 KOYU*/
/*RENK1 ACIK*/
/*265px olmali*/
/*RENK1*/
/*RENK1 KOYU*/
/*RENK1 ACIK*/
/*RENK1*/
/*RENK1 KOYU*/
/*RENK1 ACIK*/
/*265px olmali*/
.accordionUl {
  margin: 0;
  padding: 0;
  list-style: none; }
  .accordionUl ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    padding-left: 15px;
    background-color: #000000; }
  .accordionUl li a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none; }
  .accordionUl > li {
    background-color: #222222;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #333333; }
  .accordionUl li:hover {
    background-color: #333333; }
  .accordionUl.blue ul {
    background-color: #0966AC; }
  .accordionUl.blue > li {
    background-color: #0966AC;
    border-bottom: 1px solid #1C4C96;
    border-top: 1px solid #0966AC; }
  .accordionUl.blue li:hover {
    background-color: #0966AC; }
  .accordionUl.white ul {
    background-color: #D1D1D1; }
  .accordionUl.white li a {
    color: #333333; }
  .accordionUl.white > li {
    background-color: #EBEBEB;
    border-bottom: 1px solid #D1D1D1;
    border-top: 1px solid #f7f7f7; }
  .accordionUl.white li:hover {
    background-color: #f7f7f7; }

/*####################### NAV ###############################*/
.nav-pills > li.active > a, .nav-pills .nav-pills > li.active > a:focus, .nav-pills .nav-pills > li.active > a:hover {
  background-color: #0966AC;
  color: #fff; }

/*####################### BREADCRUMB & PAGINATION ###############################*/
.breadcrumb {
  padding: 30px 15px;
  background-color: #222222;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .breadcrumb li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Oswald', sans-serif; }
    .breadcrumb li a:hover {
      text-decoration: none; }
  .breadcrumb > .active {
    color: #FFFFFF; }
  .breadcrumb.blue {
    background-color: #0966AC;
    color: #333333; }
    .breadcrumb.blue li a {
      color: #ffffff; }
  .breadcrumb.red {
    background-color: #222222; }
    .breadcrumb.red li a {
      color: #ffffff; }

.pagination > .active > a, .pagination .pagination > .active > a:focus, .pagination .pagination > .active > a:hover, .pagination .pagination > .active > span, .pagination .pagination > .active > span:focus, .pagination .pagination > .active > span:hover {
  background-color: #0966AC;
  border-color: #1C4C96;
  color: #fff;
  cursor: default;
  z-index: 2; }
.pagination.red > .active > a, .pagination .pagination.red > .active > a:focus, .pagination .pagination.red > .active > a:hover, .pagination .pagination.red > .active > span, .pagination .pagination.red > .active > span:focus, .pagination .pagination.red > .active > span:hover {
  background-color: #222222;
  border-color: #000000;
  color: #fff;
  cursor: default;
  z-index: 2; }

/*####################### PANEL ###############################*/
.panel-title a {
  text-decoration: none;
  display: block; }

.panel-color1 {
  border-color: #1C4C96; }
  .panel-color1.panel-heading {
    background: none;
    background-color: #0966AC;
    border: 1px solid #1C4C96;
    color: #ffffff; }

.panel-color2 {
  border-color: #000000; }
  .panel-color2.panel-heading {
    background: none;
    background-color: #222222;
    border: 1px solid #000000;
    color: #ffffff; }

.panel-white {
  border-color: #D1D1D1; }
  .panel-white.panel-heading {
    background: none;
    background-color: #EBEBEB;
    border: 1px solid #D1D1D1;
    color: #333333; }

/*####################### DROPDOWN & BUTTONS ###############################*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #0966AC;
  color: #ffffff; }

/*####################### TABS ###############################*/
.mtmTabs {
  position: relative;
  z-index: 1;
  margin-bottom: 30px; }
  .mtmTabs ul li {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px; }
  .mtmTabs ul li a {
    -webkit-border-radius: 0;
    border-radius: 0; }

.tabStyle1 ul li a {
  color: #333333; }

.tabStyle1 .tab-content {
  background-color: #ffffff;
  padding: 30px;
  border-color: transparent #ddd #ddd;
  border-image: none;
  border-style: solid;
  border-width: 1px; }

.tabStyle1 .tab-content .tab-pane {
  padding: 0;
  margin: 0; }

/** TAB 2 **/
.tabStyle2 ul li a {
  color: #333333; }
.tabStyle2 .nav-tabs {
  background-color: #ffffff;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px; }
.tabStyle2 .nav-tabs > li.active > a, .tabStyle2 .tabStyle2 .nav-tabs > li.active > a:focus, .tabStyle2 .tabStyle2 .nav-tabs > li.active > a:hover {
  background-color: #0966AC;
  border-color: #0966AC;
  color: #ffffff; }
.tabStyle2 .nav-tabs > li.active:after,
.tabStyle2 .nav-tabs > li.active:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
.tabStyle2 .nav-tabs > li.active:after {
  border-color: rgba(38, 168, 228, 0);
  border-top-color: #0966AC;
  border-width: 10px;
  margin-left: -10px; }
.tabStyle2 .nav-tabs > li.active:before {
  border-color: rgba(38, 168, 228, 0);
  border-top-color: #0966AC;
  border-width: 16px;
  margin-left: -16px; }
.tabStyle2 .tab-content {
  background-color: #ffffff;
  padding: 30px;
  border-color: transparent #ddd #ddd;
  border-image: none;
  border-style: solid;
  border-width: 1px; }
.tabStyle2 .tab-content .tab-pane {
  padding: 0;
  margin: 0; }

/** TAB 3 **/
.tabStyle3 ul li a {
  color: #333333; }
.tabStyle3 .nav-tabs {
  margin-bottom: 15px;
  border-bottom: none; }
.tabStyle3 > .nav-tabs > li {
  margin-bottom: 0;
  border-color: #ddd;
  margin-right: 10px; }
.tabStyle3 > .nav-tabs > li > a {
  background-color: #e5e5e5; }
.tabStyle3 > .nav-tabs > li:hover {
  border: none; }
.tabStyle3 .nav-tabs > li.active > a,
.tabStyle3 .nav-tabs > li.active > a:focus,
.tabStyle3 .nav-tabs > li.active > a:hover {
  background-color: #ffffff;
  border: none; }
.tabStyle3 .nav-tabs > li.active:after,
.tabStyle3 .nav-tabs > li.active:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
.tabStyle3 .nav-tabs > li.active:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #FFFFFF;
  border-width: 10px;
  margin-left: -10px; }
.tabStyle3 .nav-tabs > li.active:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #DDDDDD;
  border-width: 11px;
  margin-left: -11px; }
.tabStyle3 .tab-content {
  background-color: #ffffff;
  padding: 30px;
  border-color: #ddd;
  border-image: none;
  border-style: solid;
  border-width: 1px; }
.tabStyle3 .tab-content .tab-pane {
  padding: 0;
  margin: 0; }

/** TAB 4 **/
.tabStyle4 {
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #DDD; }
  .tabStyle4 .nav-tabs {
    border-bottom: none; }
  .tabStyle4 .nav-tabs > li a {
    color: #333333; }
  .tabStyle4 .nav-tabs > li:hover a {
    border-bottom: none; }
  .tabStyle4 .nav-tabs > li.active > a,
  .tabStyle4 .nav-tabs > li.active > a:focus,
  .tabStyle4 .nav-tabs > li.active > a:hover {
    background-color: #0966AC;
    border-color: #0966AC;
    color: #ffffff; }

/** TAB 5 **/
.tabStyle5 ul li a {
  color: #333333; }
.tabStyle5 .nav-tabs {
  background-color: #ffffff;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px; }
.tabStyle5 .nav-tabs > li.active > a,
.tabStyle5 .nav-tabs > li.active > a:focus,
.tabStyle5 .nav-tabs > li.active > a:hover {
  background-color: #222222;
  border-color: #222222;
  color: #ffffff; }
.tabStyle5 .nav-tabs > li.active:after,
.tabStyle5 .nav-tabs > li.active:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
.tabStyle5 .nav-tabs > li.active:after {
  border-color: rgba(38, 168, 228, 0);
  border-top-color: #222222;
  border-width: 10px;
  margin-left: -10px; }
.tabStyle5 .nav-tabs > li.active:before {
  border-color: rgba(38, 168, 228, 0);
  border-top-color: #222222;
  border-width: 16px;
  margin-left: -16px; }
.tabStyle5 .tab-content {
  background-color: #ffffff;
  padding: 30px;
  border-color: transparent #ddd #ddd;
  border-image: none;
  border-style: solid;
  border-width: 1px; }
.tabStyle5 .tab-content .tab-pane {
  padding: 0;
  margin: 0; }
.tabStyle5 .nav-tabs .dropdown-menu > .active > a,
.tabStyle5 .nav-tabs .dropdown-menu > .active > a:focus,
.tabStyle5 .nav-tabs .dropdown-menu > .active > a:hover {
  background-color: #222222;
  color: #ffffff; }

/** TAB 6 **/
.tabStyle6 {
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #DDD; }
  .tabStyle6 .nav-tabs {
    border-bottom: none; }
  .tabStyle6 .nav-tabs > li a {
    color: #333333; }
  .tabStyle6 .nav-tabs > li:hover a {
    border-bottom: none; }
  .tabStyle6 .nav-tabs > li.active > a,
  .tabStyle6 .nav-tabs > li.active > a:focus,
  .tabStyle6 .nav-tabs > li.active > a:hover {
    background-color: #222222;
    border-color: #222222;
    color: #ffffff; }
  .tabStyle6 .nav-tabs .dropdown-menu > .active > a,
  .tabStyle6 .nav-tabs .dropdown-menu > .active > a:focus,
  .tabStyle6 .nav-tabs .dropdown-menu > .active > a:hover {
    background-color: #222222;
    color: #ffffff; }

/*####################### CAROUSEL ###############################*/
@media (max-width: 400px) {
  .mtmTabs ul {
    background-color: #ffffff; }

  .mtmTabs ul li {
    float: none;
    display: block;
    width: 100%; }

  .mtmTabs ul li a {
    margin-right: 0; }

  .tabStyle1 .nav-tabs > li.active > a {
    border: none; }

  .tabStyle3 > .nav-tabs > li {
    margin-right: 0; } }
/* ########################### TEXT BOX ################################## */
.textBox {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  margin-bottom: 15px;
  position: relative; }
  .textBox.topRadius {
    -webkit-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0; }
  .textBox .textBoxMain {
    padding: 15px;
    position: relative; }
  .textBox .textBoxMain .carouselButton {
    width: 35px;
    height: 45px;
    position: absolute;
    top: 35%;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    text-decoration: none;
    display: block;
    color: #333333;
    font-size: 24px;
    text-align: center;
    padding-top: 5px; }
  .textBox .textBoxMain .owl-carousel {
    margin-bottom: 0; }
  .textBox .textBoxMain .carouselButton:hover {
    background-color: #0966AC;
    border: 1px solid #278fc9;
    color: #ffffff; }
  .textBox .textBoxMain .leftBtn {
    left: 0;
    border-left: none;
    -webkit-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0; }
  .textBox .textBoxMain .rightBtn {
    right: 0;
    border-right: none;
    -webkit-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px; }
  .textBox .textBoxMain .row {
    margin-top: 0; }
  .textBox .textBoxMain .propUl {
    margin-left: 15px;
    list-style: disc; }
  .textBox .textBoxMain .propUl li {
    padding: 5px;
    border-bottom: 1px solid #D1D1D1; }
  .textBox table, .textBox .list-group {
    margin-bottom: 0; }
  .textBox table tr td:first-child {
    border-left: none; }
  .textBox table tr td:last-child {
    border-right: none; }
  .textBox .list-group {
    -webkit-border-radius: 0;
    border-radius: 0; }
  .textBox .list-group .list-group-item {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    border-left: none;
    border-right: none; }
  .textBox .list-group .list-group-item:first-child {
    border-top: none; }
  .textBox .list-group .list-group-item:last-child {
    border-bottom: none; }

/* ########################## FORM ################################### */
.select {
  position: relative; }
  .select select {
    margin: 0;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer; }
  .select select option {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #D1D1D1; }
  .select:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f078";
    color: #aaa;
    right: 6px;
    top: 4px;
    padding: 6px 6px;
    border-left: 1px solid #ddd;
    position: absolute;
    pointer-events: none; }
  .select:before {
    content: '';
    right: 6px;
    top: 0px;
    position: absolute;
    pointer-events: none;
    display: block; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 18px; } }
/* ############################################################# */
/*RENK1*/
/*RENK1 KOYU*/
/*RENK1 ACIK*/
/*RENK1*/
/*RENK1 KOYU*/
/*RENK1 ACIK*/
/*265px olmali*/
/** GALERI**/
/** GLOBAL **/
.mygrid {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-bottom: 30px; }
  .mygrid .gsHead {
    width: 100%;
    min-height: 80px;
    overflow: hidden;
    position: relative; }
  .mygrid .gsHead.galeriHead {
    height: 180px;
    overflow: hidden; }
  .mygrid .gsHead img {
    width: 100%; }
  .mygrid .gsHead .gsAdded {
    width: 50px;
    height: 50px;
    background-color: #222222;
    position: absolute;
    left: 0;
    top: 15px;
    color: #ffffff;
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    padding-top: 8px; }
  .mygrid .gsHead .gsAdded span {
    display: block;
    font-size: 24px;
    margin: 0;
    padding: 0;
    line-height: 20px; }
  .mygrid .gsHead .gsAdded span:last-child {
    font-size: 12px; }
  .mygrid .gsMain, .mygrid .gsFooter {
    padding: 15px; }
  .mygrid .gsMain h1,
  .mygrid .gsMain h2,
  .mygrid .gsMain h3,
  .mygrid .gsMain h4 {
    font-size: 18px;
    font-family: 'Play', sans-serif;
    margin: 0 0 10px 0;
    padding: 0; }
  .mygrid .gsFooter .gsView, .mygrid .mygrid .gsFooter .gsMore {
    width: 50%;
    float: left; }
  .mygrid .gsFooter .gsMore {
    text-align: right;
    clear: right; }
    .mygrid .gsFooter .gsMore.gsShop i {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      background-color: #222222;
      padding: 8px;
      color: #FFFFFF; }
  .mygrid .gsFooter .socialIcons {
    display: inline-block; }
  .mygrid .gsFooter .socialIcons li {
    overflow: hidden;
    float: left;
    text-align: center; }
  .mygrid .gsFooter .socialIcons li a {
    background-color: #D1D1D1;
    color: #ffffff;
    margin-right: 4px;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 1.3333em; }
  .mygrid .gsFooter .socialIcons li:hover a {
    background-color: #222222; }
  .mygrid .gsFooter .socialIcons li:hover a i {
    animation: 0.3s ease 0s normal forwards 1 running tada; }
  .mygrid .gridPrice {
    font-size: 18px;
    color: #222222; }
    .mygrid .gridPrice i {
      color: #000000; }
    .mygrid .gridPrice .oldPrice {
      font-size: 14px;
      color: #000000;
      text-decoration: line-through; }
  .mygrid * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

/***********/
/* PLUGINS */
.mygridFborder .text-center {
  text-align: center; }

.mygridFborder .gsFooter {
  border-top: 1px solid #D1D1D1; }

.mygridborderBottom {
  border-bottom: 5px solid #1C4C96 !important; }

.mygridborderBottomRed {
  border-bottom: 5px solid #000000 !important; }

.mygrid.thisismy .gsHead img:hover {
  animation: 0.3s ease 0s normal forwards 1 running pulse; }

.noDate .gsHead .gsAdded {
  display: none; }

.owl-grids .owl-wrapper-outer .item {
  padding-left: 15px;
  padding-right: 15px; }

.owl-wrapper-outer .item .mygrid {
  margin-bottom: 0; }

/***********/
/*Normal*/
.mygrid.gstyle a {
  color: #222222; }

/***********/
/* 1.Style */
.mygrid.gstyle1 {
  background-color: #ffffff;
  border: 1px solid #D1D1D1; }
  .mygrid.gstyle1 a {
    color: #222222; }
  .mygrid.gstyle1 .department {
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px; }

/***********/
/* 2.Style */
.mygrid.gstyle2 {
  background-color: #ffffff;
  border: 1px solid #D1D1D1; }
  .mygrid.gstyle2 a {
    color: #222222; }
  .mygrid.gstyle2 .gsFooter {
    border-top: 1px solid #D1D1D1; }

/***********/
/* 3.Style */
.mygrid.gstyle3 {
  background-color: #ffffff;
  border: 1px solid #D1D1D1; }
  .mygrid.gstyle3 a {
    color: #222222; }
  .mygrid.gstyle3 .gsFooter {
    display: none; }

/***********/
/* 4.Style */
.mygrid.gstyle4 {
  background-color: #ffffff;
  border: 1px solid #D1D1D1; }
  .mygrid.gstyle4 a {
    color: #222222; }
  .mygrid.gstyle4 .gsFooter {
    display: none; }
  .mygrid.gstyle4 .gsMain p {
    display: none; }

/***********/
/* 5.Style */
.mygrid.gstyle5 {
  background-color: #ffffff;
  border: 1px solid #D1D1D1; }
  .mygrid.gstyle5 a {
    color: #222222; }
  .mygrid.gstyle5 .gsFooter {
    display: none; }
  .mygrid.gstyle5 .gsMain {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: url("../images/benuActiveBg.png"); }
  .mygrid.gstyle5 .gsMain h1 {
    margin: 0; }
  .mygrid.gstyle5 .gsMain h1 a {
    display: block;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .mygrid.gstyle5 .gsMain p {
    display: none; }

/***********/
/* 6.Style */
.mygrid.gstyle6 {
  background-color: #ffffff;
  border: 1px solid #D1D1D1; }
  .mygrid.gstyle6 a {
    color: #222222; }
  .mygrid.gstyle6 .gsHead {
    width: 50%;
    min-height: 80px;
    overflow: hidden;
    position: relative; }
  .mygrid.gstyle6 .gsMain,
  .mygrid.gstyle6 .gsFooter {
    width: 50%;
    position: absolute;
    right: 0; }
  .mygrid.gstyle6 .gsMain {
    top: 0; }
  .mygrid.gstyle6 .gsFooter {
    bottom: 0; }

/***********/
/* 7.Style */
.mygrid.gstyle7 {
  background-color: #ffffff;
  border: 1px solid #D1D1D1; }
  .mygrid.gstyle7 a {
    color: #222222; }
  .mygrid.gstyle7 .gsHead {
    width: 50%;
    min-height: 80px;
    overflow: hidden;
    position: relative; }
  .mygrid.gstyle7 .gsMain,
  .mygrid.gstyle7 .gsFooter {
    width: 50%;
    position: absolute;
    right: 0; }
  .mygrid.gstyle7 .gsMain {
    top: 0; }
  .mygrid.gstyle7 .gsMain p {
    display: none; }
  .mygrid.gstyle7 .gsFooter {
    bottom: 0; }

/***********/
/* 8.Style */
.mygrid.gstyle8 {
  background-color: #ffffff;
  border: 1px solid #D1D1D1; }
  .mygrid.gstyle8 a {
    color: #222222; }
  .mygrid.gstyle8 .gsHead {
    width: 50%;
    min-height: 80px;
    float: right;
    overflow: hidden;
    position: relative; }
  .mygrid.gstyle8 .gsHead .gsAdded {
    position: absolute;
    top: 0; }
  .mygrid.gstyle8 .gsMain,
  .mygrid.gstyle8 .gsFooter {
    width: 50%; }
  .mygrid.gstyle8 .gsFooter {
    position: absolute;
    left: 0;
    bottom: 0; }

/***********/
/** 9. style **/
.mygrid.gstyle9 {
  background-color: #ffffff;
  border: 1px solid #D1D1D1; }
  .mygrid.gstyle9 a {
    color: #222222; }
  .mygrid.gstyle9 .gsFooter {
    display: none; }
  .mygrid.gstyle9 .gsMain {
    text-align: center; }
  .mygrid.gstyle9 h1,
  .mygrid.gstyle9 h2,
  .mygrid.gstyle9 h3,
  .mygrid.gstyle9 h4 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 22px; }

/***********/
/** 10. style **/
.mygrid.gstyle10 a {
  color: #333333;
  text-decoration: none; }
.mygrid.gstyle10 .gsHead .gsAdded {
  display: none; }
.mygrid.gstyle10 .gsFooter {
  display: none; }
.mygrid.gstyle10 .gsMain {
  text-align: center; }
.mygrid.gstyle10 h1, .mygrid.gstyle10 h2, .mygrid.gstyle10 h3, .mygrid.gstyle10 h4 {
  font-family: 'Play', sans-serif;
  font-size: 24px; }
.mygrid.gstyle10 .gsMain p {
  display: none; }

/***********/
/** 11. style **/
.mygrid.gstyle11 a {
  color: #333333;
  text-decoration: none; }
.mygrid.gstyle11 .gsHead {
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
.mygrid.gstyle11 .gsHead .gsAdded {
  display: none; }
.mygrid.gstyle11 .gsFooter {
  display: none; }
.mygrid.gstyle11 .gsMain {
  text-align: center; }
.mygrid.gstyle11 h1, .mygrid.gstyle11 h2, .mygrid.gstyle11 h3, .mygrid.gstyle11 h4 {
  font-family: 'Play', sans-serif;
  font-size: 18px; }
.mygrid.gstyle11 .gsMain p {
  display: none; }
.mygrid.gstyle11 h1 a, .mygrid.gstyle11 h2 a, .mygrid.gstyle11 h3 a, .mygrid.gstyle11 h4 a {
  color: #222222; }

/***********/
/** 12. style **/
.mygrid.gstyle12 {
  background-color: #ffffff;
  border: 1px solid #D1D1D1; }
  .mygrid.gstyle12 a {
    color: #222222; }
  .mygrid.gstyle12 .gsMain {
    text-align: center; }
  .mygrid.gstyle12 h1,
  .mygrid.gstyle12 h2,
  .mygrid.gstyle12 h3,
  .mygrid.gstyle12 h4 {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 22px; }

@media (max-width: 400px) {
  .mygrid .gsHead.galeriHead {
    height: 110px;
    overflow: hidden; }

  .mygrid .gsMain h1, .mygrid .gsMain h2, .mygrid .gsMain h3, .mygrid .gsMain h4 {
    font-size: 14px !important; } }
@media (max-width: 767px) {
  .mygrid .gsMain h1, .mygrid .gsMain h2, .mygrid .gsMain h3, .mygrid .gsMain h4 {
    font-size: 14px !important; } }

/*# sourceMappingURL=style.css.map */
